@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Light.woff2);
   font-weight: 200;
}

@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Semibold.woff2);
   font-weight: 600;
}

@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Bold.woff2);
   font-weight: 900;
}

@font-face {
   font-family: Satoshi;
   src: url(../fonts/Satoshi-Regular.woff2);
   font-weight: 400;
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --color-white: #ffffff;
   --color-black: #000000;
   --color-lite-gray: #F9F9F9;
   --color-dark-primary: #2A254B;
   --color-nav-links: #726E8D;
}

.btn{
   text-decoration: none;
   color: var(--color-dark-primary);
   background-color: var(--color-lite-gray);
   padding: 16px 32px;
   font-family: Satoshi;
   font-size: 16px;
}

.btn:hover{
   transition: all 0.8s;
   color: var(--color-lite-gray);
   background-color: var(--color-dark-primary);
}

header {
   display: grid;
   row-gap: 20px;
   padding: 20px 2vw;
}

header>div{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
}

header>div span{
   font-family: "Clash Display";
   justify-self: center;
   font-size: 24px;
}

header>div div.icons{
   justify-self: end;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 1vw;
}

header>div svg{
   height: 16px;
   color: var(--color-dark-primary);
}

header nav{
   justify-self: center;
}

header nav ul{
   list-style-type: none;
   display: flex;
   column-gap: 4vw;
}

header nav ul a{
   text-decoration: none;
   color: var(--color-nav-links);
   font-family: Satoshi;
   font-size: 16px;
}

header nav ul a:hover{
   color: var(--color-black);
   transition: all 0.7s;
}

main section.header{
   background-image: url(../images/sectionHeader.jpg);
   height: 42vw;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0% 20%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   padding-right: 8vw;
}

main section.header div{
   display: grid;
   row-gap: 20px;
   background-color: var(--color-white);
   grid-column: 2/3;
   grid-template-rows: max-content;
   height: 64%;
   padding: 5vw;

}

main section.header div h1{
   font-family: "Clash Display";
   font-size: 32px;
   font-weight: 400;
}

main section.header div span{
   font-family: Satoshi;
   font-size: 18px;
}

main section.header div a{
   align-self: end;
   justify-self: start;
}

main section.our-brand{
   padding: 80px 6vw;
   display: grid;
   row-gap: 36px;
   padding-bottom: 40px;
}

main section.our-brand h2{
   font-family: "Clash Display";
   font-size: 28px;
   text-align: center;
   font-weight: 400;
}

main section.our-brand div{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 2vw;
}

main section.our-brand div article{
   display: grid;
   grid-template-rows: 24px repeat(2, 1fr);
   row-gap: 12px;
   padding: 48px;
   background-color: var(--color-lite-gray);
}

main section.our-brand div article svg{
   height: 100%;
}

main section.our-brand div article h3{
   font-family: "Clash Display";
   font-size: 20px;
   font-weight: 400;
}

main section.our-brand div article p{
   font-family: Satoshi;
}

main section.new-tovar {
   padding: 80px 6vw;
   display: grid;
   row-gap: 36px;
   padding-top: 40px;
}

main section.new-tovar div{
   display: grid;
   column-gap: 2vw;
   grid-template-columns: repeat(4, 1fr);
}

main section.new-tovar div article{
   display: grid;
   grid-template-rows: 305px 1fr;
   row-gap: 24px;
}

main section.new-tovar div article:hover{
   transform: scale(1.05);
   transition: all 0.8s;
}

main section.new-tovar div img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

main section.new-tovar div p {
   font-family: "Clash Display";
   font-size: 20px;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   row-gap: 8px;
}

main section.new-tovar div p span{
   font-family: Satoshi;
}

main section.new-tovar a{
   justify-self: center;
}

main section.started{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 60px;
   grid-template-rows: 36vw;
   padding: 60px 6vw;
}

main section.started div{
   background-color: var(--color-dark-primary);
   padding: 5vw;
   color: var(--color-white);
   display: grid;
   grid-template-rows: max-content;
   row-gap: 12px;
}

main section.started img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

main section.started div a{
   justify-self: start;
   align-self: end;
   background-color: var(--color-nav-links);
   color: var(--color-white);
}

main section.started div h2 {
   font-family: "Clash Display";
   font-weight: 400;
   font-size: 30px;
}


main section.form{
   background-image: url(../images/image.jpg);
   color: var(--color-white);
   background-color: var(--color-dark-primarri);
   background-size: cover;
   background-position: 0% 56%;
   display: grid;
   row-gap: 30px;
   justify-items: center;
   padding: 80px 0;
   
}
main section.form ul{
   display: flex;
   column-gap: 36px;
}
main section.form ul li{
   display: grid;
   grid-template-columns: 16px 1fr;
   column-gap: 4px;
}
main section.form ul li svg{
   color: var(--color-wight);

}
main section.form form{
   display: grid;
   grid-template-columns: 3fr, 1fr;
   grid-template-rows: 56px;

}