@font-face {
    font-family: "ClashDisplay-Light" ;
    src: url(../fonts/ClashDisplay-Light.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Clash Display" ;
    src: url(../fonts/ClashDisplay-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Clash Display-Semibold" ;
    src: url(../fonts/ClashDisplay-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: "Clash Display-Bold" ;
    src: url(../fonts/ClashDisplay-Bold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Satoshi" ;
    src: url(../fonts/Satoshi-Regular.woff2);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-lite-gray: #f9f9f9;
    --color-dark-primary: #2a254b;
    --color-nav-links: #726e8d;
}



header{
    display: grid;
    row-gap: 20px;
    padding: 0 2vw;
    padding-top: 20px;

}

header>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

header>div svg{
   height: 16px;
}

header>div span{
   justify-self: center;
   font-size: 24px;
   font-family: Clash Display;
}
 
header>div div.icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2vw;
    justify-self: end;
}

header nav{
    justify-self: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    column-gap: 4vw;
}

header nav ul a{
    text-decoration: none;
    color: var(--color-nav-links);
    font-family: Satoshi;
    font-size: 16px;
}

header nav ul a:hover{
    color: var(--color-black);
    transition: all 0.7s;
}

main section.fon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-right: 8vw;
    background-image: url(../images/fa9b27255272d76e665cce4314b4aedb.jpg);
    height: 42vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;
}

main section.fon div{
    display: grid;
    background-color: var(--color-white);
    height: 64%;
    grid-column: 2/3;
    grid-template-rows: min-content;
    padding: 5vw;
}

main section.fon div h1{
    font-family: Clash Display;
    font-size: 32px;
    font-weight: 400;
}

main section.fon div span{
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 400;
}

main section.fon div a{
    align-self: end;
    justify-self: start;
}

main section.makes{
    padding: 80px 6vw;
    display: grid;
    row-gap: 36px;
    padding-bottom: 40px;
}

main section.makes h2{
    font-family: "Clash Display";
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}

main section.makes div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2vw;
}

main section.makes div article{
    display: grid;
    grid-template-rows: 24px repeat(2,1fr);
    row-gap: 12px;
    padding: 48px;
    background-color: var(--color-lite-gray);
}

main section.makes div article svg{
    height: 100%;
}

main section.makes div article h3{
    font-family: "Clash Display";
    font-size: 20px;
    font-weight: 400;
}

main section.makes div article p{
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
}

.btn{
    color: var(--color-dark-primary);
    background-color: var(--color-lite-gray);
    padding: 16px 32px;
    font-family: "Satoshi";
    font-size:16px;
}

.btn:hover{
    transition: all 0.8s;
    color: var(--color-lite-gray);
    background-color: var(--color-dark-primary);
}

main section.towar{
    padding-top: 40px;
    padding: 80px 6vw;
    display: grid;
    row-gap: 36px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 7.5vw;
    grid-template-rows: 305 1fr;
}


main section.towar article img{
    width: 305px;
    height: 375px;
}

main section.towar article:hover{
    transform: scale(1.05);
    transition: all 0.8s;
}

main section.towar article p{
    font-size: 20px;
    font-family: "Clash Display";
    color: var(--color-black);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

main section.towar article span{
    font-family: "Satoshi";
    color: var(--color-black);
}

main section.towar a{
    position: relative;
    top: 50px;
    left: 220%;
    margin: 0 auto;
}

main section.towar a:hover{
    transform: scale(1.05);
    transition: all 0.5;
}

main section.startit{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 48vw;
    column-gap: 16px;
    padding: 60px 6vw;
}

main section.startit div{
    display: grid;
    width: 830px;
    height: 678px;
    grid-template-rows: min-content;
    row-gap: 12px;
    background-color: var(--color-dark-primary);
    padding: 5vw;
    color: var(--color-white);
}

main section.startit a{
    justify-self: start;
    align-self: end;
    background-color: var(--color-nav-links);
    color: var(--color-white);
}



main section.startit div h2{
    font-family: "Clash Display";
    font-weight: 400;
    font-size: 32px;
}

main section.startit span{
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 18px;
}

main section.startit img{
    width: 830px;
    height: 678px;
    object-fit: cover;
}

main section.form{
    display: grid;
    padding-bottom: 100%;
    row-gap: 30px;
    justify-items: center;
    color: var(--color-white);
    background-image: url(../images/Image.jpg);
    background-position: 0% 50%;
    padding: 80px 0;
}

main section.form ul{
    display: flex;
    column-gap: 36px;
}

main section.form ul li{
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 4px;
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 400;
}

main section.form ul li svg{
    color: var(--color-white);
    width: 80%;
    height: 80%;
}

main section.form h2{
    font-family: "Clash Display";
    font-weight: 400;
}

main section.form p{
    font-family: "Satoshi";
    font-size: 18px;
    color: var(--color-white);
    width: 36vw;
    text-align: center;
}

main section.form form{
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: 3fr 1fr;
}

main section.form form input[type=submit]{
    color: var(--color-white);
    background-color: var(--color-dark-primary);
    padding: 0 32px;

}

main section.form form input{
    border: none;
    padding-left: 3vw;
    border-radius: 0;
}

body>footer{
    display: grid;
    row-gap: 24px;
    padding: 60px 6vw 24px 6vw;
    background-color: var(--color-dark-primary);
}



footer header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

footer header ul{
    list-style-type: none;
    color: var(--color-white);
}

footer header ul li:nth-child(1){
    font-family: "Clash Display";
}

footer header ul li{
    font-family: "Satoshi";
}

footer header form h4{
    font-family: "Clash Display";
    color: var(--color-white);
    font-weight: 400;

}

footer header form input{
    border: none;
    padding-left: 3vw;
    border-radius: 0;
}

footer header form input[type=submit]{
    color: var(--color-dark-primary);
    background-color: var(--color-white);
    padding: 0 32px;
}

header hr{
    border-color: var(--color-nav-links);
}

footer footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

footer span{
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
}

footer footer ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 24px;
    justify-items: end;
    list-style-type: none;
    justify-self: end;
    column-gap: 24px;
}

footer footer ul svg{
    height: 100%;
    color: var(--color-white);
}

footer form input[type=submit]{
    color: var(--color-nav-links);
    background-color: var(--color-white);
    padding: 0 32px;

}

footer form input{
    border: none;
    padding-left: 3vw;
    border-radius: 0;
}
